<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ImageDownloader.Properties.Settings>
            <setting name="ImageBaseURL" serializeAs="String">
                <value>http://www.yannarthusbertrand2.org/index2.php?option=com_datsogallery&amp;func=wmark&amp;oid=</value>
            </setting>
            <setting name="ImageNameBase" serializeAs="String">
                <value>Picture_</value>
            </setting>
        </ImageDownloader.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ImageDownloader.Properties.Settings>
            <setting name="ImageExtension" serializeAs="String">
                <value>.jpg</value>
            </setting>
        </ImageDownloader.Properties.Settings>
    </userSettings>
</configuration>